@media (min-width: $tablet-switch) {
  .active {
    border-bottom: 2px solid $button-color;
  }
}

@media (min-width: $desktop-switch) {
  .active {
    border-bottom: 2px solid #ffffff;

    &--green {
      border-bottom: 2px solid $button-color;
    }
  }
}
