.additional-goods__list {
  margin: 0;
  padding: 0;
}

.additional-goods__item {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;

  list-style: none;
}

.additional-goods__title {
  font-weight: 400;

  margin-bottom: 47px;
}

@media (min-width: $tablet-switch) {
  .additional-goods__item {
    margin-bottom: 52px;
  }

  .additional-goods__item:last-child {
    margin-bottom: 0;
  }

  .additional-goods__title {
    font-size: 36px;
    line-height: 1;
    font-weight: 400;

    margin-left: 37px;
    margin-bottom: 105px;
  }
}

@media (min-width: $desktop-switch) {
  .additional-goods__title {
    margin-left: 0;
    margin-bottom: 80px;
  }

  .additional-goods__item {
    margin-left: 2px;
    margin-right: 0;
    margin-bottom: 18px;
  }
}
