.advatages__title {
  font-size: 36px;
  line-height: 1.67;
  font-weight: 400;
  color: #111111;

  margin: 0;
  margin-bottom: 28px;
  padding: 0;
}

.advatages__list {
  margin: 0;
  padding: 0;
}

.advatages__item::after {
  content: "";

  width: 60px;
  height: 60px;

  position: absolute;
  top: 0;
  left: 0;

  background-position: center;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-size: 50px auto;
  }
}

.advatages__item {
  font-family: $font-family--Arial;
  font-size: 14px;
  line-height: 1.29;
  color: #444444;

  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  padding-top: 2px;
  padding-left: 80px;
  min-height: 54px;

  list-style: none;

  position: relative;

  &--leaf::after {
    top: 0;

    background-image: url("../../img/advantage-leaf@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/advantage-leaf@2x.png");
    }
  }

  &--powder::after {
    top: -1px;

    background-image: url("../../img/advantage-powder@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/advantage-powder@2x.png");
    }
  }

  &--dining::after {
    left: -1px;

    background-image: url("../../img/advantage-dining@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/advantage-dining@2x.png");
    }
  }

  &--clock::after {
    background-image: url("../../img/advantage-clock@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/advantage-clock@2x.png");
    }
  }
}

.advatages__item::before {
  content: "";

  width: 60px;
  height: 60px;

  position: absolute;
  left: 0;
  top: 0;

  background-color: $button-color;
}

.advatages__description {
  margin: 0;
}

.advatages__description br {
  display: none;
}

@media (min-width: $tablet-width) {
  .advatages__title {
    font-size: 60px;
    line-height: 1;

    margin-bottom: 72px;
  }

  .advatages__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .advatages__item {
    font-size: 16px;
    line-height: 24px;

    width: 324px;
    min-height: 180px;
    padding: 0;
    margin-bottom: 133px;

    &--leaf::after {
      top: 0;

      background-image: url("../../img/advantage-leaf@1x.png");
    }

    &--powder::after {
      top: 0;

      background-image: url("../../img/advantage-powder@1x.png");
    }

    &--dining::after {
      top: 0;
      left: 0;

      background-image: url("../../img/advantage-dining@1x.png");
    }

    &--clock::after {
      top: 0;

      background-image: url("../../img/advantage-clock@1x.png");
    }
  }

  .advatages__item:nth-last-child(1),
  .advatages__item:nth-last-child(2) {
    margin-bottom: 0;
  }

  .advatages__item::before {
    width: 80px;
    height: 80px;

    top: 0;
  }

  .advatages__item::after {
    width: 80px;
    height: 80px;
  }

  .advatages__description::after {
    font-family: $font-family--Oswald-Regular;
    font-size: 281px;
    line-height: 281px;
    color: #f2f2f2;

    content: "";

    position: absolute;
    top: -152px;
    right: 19px;

    width: 122px;
    height: 235px;

    z-index: -1;
  }


  .advatages__description {
    margin-top: 112px;
    width: 255px;

    position: relative;
  }

  .advatages__description br {
    display: block;
  }

  .advatages__item--leaf .advatages__description::after {
    content: "1";

    right: 14px;
  }

  .advatages__item--powder .advatages__description::after {
    content: "2";

    right: 21px;
  }

  .advatages__item--dining .advatages__description::after {
    content: "3";
  }

  .advatages__item--clock .advatages__description::after {
    content: "4";
  }
}

@media (min-width: $desktop-width) {
  .advatages__item {
    width: 245px;
    margin-bottom: 0;
  }

  .advatages__description {
    width: auto;
    margin-bottom: 0;
  }

  .advatages__description::after {
    right: 9px;
  }

  .advatages__item--leaf .advatages__description::after {
    right: 5px;
  }

  .advatages__item--powder .advatages__description::after {
    right: 12px;
  }
}
