.button {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.3;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;

  min-height: 40px;
  width: 280px;

  border: none;
  background-color: $button-color;

  &--catalog {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0;
    color: #444444;
  }
}
