.comparison {
  min-height: 328px;

  position: relative;
}

.comparison__progress {
  margin: 0 auto;
  margin-top: 30px;
}

.comparison__photos {
  margin: 0 auto;
}

.comparison__photo-before {
  width: 320px;
  margin: 0 auto;
}

.comparison__photo-after {
  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;
}

@media (min-width: $tablet-width) {
  .comparison {
    padding-bottom: 68px;

    background-color: #f2f2f2;
    background-image:
      linear-gradient(to bottom, #ffffff, #ffffff 170px, transparent 170px, transparent),
      linear-gradient(to right, #f2f2f2, #f2f2f2 50%, #eaeaea 50%, #eaeaea);
  }

  .comparison__photos {
    display: flex;

    min-height: 628px;
  }

  .comparison__photo {
    margin-left: 16px;
  }

  .comparison__progress {
    margin-top: -90px;

    z-index: 2;

    position: relative;
  }

  .comparison__photo-before,
  .comparison__photo-after {
    width: 50%;
    // min-height: 633px;

    overflow: hidden;
  }

  .comparison__photo-before img {
    max-width: 690px;
  }

  .comparison__photo-after img {
    max-width: 690px;
    margin-left: -338px;

    z-index: 1;
  }


  .comparison__photo-after {
    position: static;
    z-index: 1;
  }
}

@media (min-width: $desktop-width) {
  .comparison {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 68px;

    position: relative;

    background-color: transparent;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff 191px, transparent 191px, transparent);
  }

  .comparison__photo {
    display: block;
    margin: 0;
    margin-right: 70px;
  }

  .comparison__photos {
    min-height: 652px;
    width: 610px;
    padding: 0;
  }

  .comparison__photo-before,
  .comparison__photo-after {
    min-height: 652px;
  }

  .comparison__progress {
    margin-top: -94px;
    margin-right: 0;
    margin-left: auto;
  }

  .comparison__photo-before {
    width: 53.5%;
    margin: 0;

    background-color: #f2f2f2;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff 191px, transparent 191px, transparent);
  }

  .comparison__photo-after {
    width: 46.5%;
  }

  .comparison__photo-before img {
    margin-left: -40px;
  }

  .comparison__photo-after img {
    margin-left: -366px;
  }
}
