.composition {
  font-family: $font-family--Arial;
  font-size: 12px;
  line-height: 1.34;

  display: block;
  // border-collapse: collapse;
}

.composition tbody {
  display: block;
  width: auto;
}

.composition tr {
  display: flex;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 0;
}

.composition__field {
  // width: 38px;

  margin-left: 0;
  padding: 0;
}

.composition__value {
  text-align: right;

  // width: 42px;
  padding: 0;
}

@media (min-width: $tablet-switch) {
  .composition {
    width: auto;
    padding-left: 35px;
    padding-right: 38px;
  }

  .composition tr {
    margin-bottom: 17px;
  }

  .composition__field {
    font-size: 16px;
    line-height: 1;
    color: #444444;

    width: auto;
    margin-left: 3px;
  }

  .composition__value {
    font-size: 16px;
    line-height: 1;
    color: #444444;

    width: auto;
  }
}

@media (min-width: $desktop-switch) {
  .composition {
    margin: 0 auto;
  }

  .composition tr {
    // width: 186px;
  }

  .composition__value {
    // margin-right: 14px;
  }
}
