.cooperation {
  min-height: 475px;
  padding-top: 1px;

  position: relative;

  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: bottom;

  &--catalog {
    padding-top: 15px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
    background-size: 320px auto;
  }
}

.cooperation__map {
  display: block;
  width: 100%;
  height: 362px;

  position: relative;
  z-index: 2;
}

.cooperation::before {
  content: "";

  position: absolute;

  top: 252px;
  left: 50%;

  width: 55px;
  height: 53px;
  margin-left: -27px;

  background-image: url("../img/map-pin.png");
  background-repeat: no-repeat;
  background-position: center center;

  background-size: cover;
}

.cooperation__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding-top: 13px;
  padding-bottom: 12px;

  // background-color: #fff;

  &--background-gray {
    background-color: #f2f2f2;
  }
}

.cooperation__title {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;

  width: 125px;
  margin-left: -1px;
}

.cooperation__address {
  font-family: $font-family--Arial;
  font-size: 14px;
  line-height: 1.43;
  color: #444444;

  width: 139px;
  margin-top: 13px;
}

.cooperation__map {
  display: block;
  border: none;
}

.cooperation__address br {
  display: none;
}

@media (min-width: $tablet-width) {
  .cooperation {
    min-height: 596px;

    background-image: url("../img/bg-map-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
      background-size: 767px auto;
    }
  }

  .cooperation::before {
    width: 113px;
    height: 106px;
    margin-left: -56px;

    top: auto;
    bottom: 144px;
    background-size: auto;
  }

  .cooperation__title {
    font-size: 20px;
    line-height: 1.25;

    width: 220px;
    padding-left: 41px;
  }

  .cooperation__address {
    font-size: 16px;
    line-height: 1.25;
    text-align: right;

    width: 200px;
    margin-top: 13px;
    padding-right: 42px;
  }

  .cooperation__address-city {
    display: inline-block;
    vertical-align: top;

    margin-top: 21px;
  }

  .cooperation__address br {
    display: block;
  }

  .cooperation__wrapper {
    padding-top: 47px; //32
    padding-bottom: 42px;

    &--form-padding {
      padding-top: 50px;
    }
  }

  .cooperation__map {
    height: 396px;
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .cooperation {
    // width: $desktop-width;
    min-height: 400px;
    padding-top: 1px;

    position: relative;

    background-image: url("../img/bg-map-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
      background-size: 1440px auto;
    }
  }

  .cooperation::before {
    margin-left: 284px;
  }

  .cooperation__wrapper {
    width: 570px;
    margin-top: 94px;
    // margin-left: 110px;
    padding-top: 48px;

    min-height: 201px;

    position: relative;
    z-index: 1;

    background-color: #ffffff;

    &--form-padding {
      margin-top: 94px;
    }
  }

  .cooperation__map {
    position: absolute;
    top: 0;
    height: 400px;
  }

  .cooperation__wrapper {
    position: relative;
    z-index: 3;
  }

  .cooperation__title {
    width: 235px;
    padding-left: 76px;
  }

  .cooperation__address {
    text-align: left;

    width: 244px;
    padding-right: 70px;
    margin-top: 15px;
  }
}
