.cooperation {
  &--catalog {
    padding-top: 15px;
  }
}

.cooperation__wrapper {
  display: flex;
  justify-content: space-between;
}

.cooperation__title {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;

  width: 125px;
}

.cooperation__address {
  font-family: $font-family--Arial;
  font-size: 14px;
  line-height: 1.43;
  color: #444444;

  width: 139px;
  margin-top: 12px;
}

.cooperation__map {
  display: block;
  margin-top: 10px;
}
