.copyright {
  display: flex;
  justify-content: space-between;
}

.copyright__organization {
  font-family: $font-family--Arial;
  font-size: 16px;
  line-height: 1;
  color: #444444;
}

.copyright__link {
  display: block;
  width: 42px;
  height: auto;
  margin-right: -8px;
  margin-top: 4px;
}

.copyright__fill-svg {
  fill: #666666;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 164px;
    // justify-content: flex-start;
  }
}
