.copyright {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.copyright__organization {
  font-family: $font-family--Arial;
  font-size: 16px;
  line-height: 1;
  color: #444444;
}

.copyright__link {
  display: block;
  width: 42px;
  height: auto;
  margin-right: -8px;
  margin-top: 5px;
}

.copyright__link svg {
  fill: #666666;
}

.copyright:hover svg {
  fill: #68b738;
}

.copyright:focus {
  fill: #68b738;
  opacity: 0.3;
}

// IE11
.copyright svg:focus {
  fill: #68b738;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 164px;
    // justify-content: flex-start;
  }

  .copyright__organization {
    margin: 0;
    margin-top: 4px;
  }

  .copyright__link {
    margin-top: -7px;
  }
}
