.decorative-line::before,
.decorative-line::after {
  content: "";

  width: 100vw;
  height: 3px;
  margin-bottom: 8px;

  position: absolute;
  left: 0;
  bottom: 0;


  background-color: #68b738;
  z-index: -1;
}

.decorative-line::before {
  display: none;
}

.decorative-line--cat-own::after {
  margin-bottom: 31px;
}

@media (min-width: $tablet-width) {
  .decorative-line::before {
    display: block;
    margin-bottom: 11px;
    left: auto;
    right: 100%;
  }

  .decorative-line::after {
    display: block;
    width: 100vw;
    margin-bottom: 11px;
  }
}
