.fieldset-block {
  display: flex;

  border: none;

  margin-bottom: 28px;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 0;
  margin-right: 0;

  position: relative;

  &--cat-own {
    margin-bottom: 28px;
  }

  &--no-margin {
    margin-bottom: 0;
  }

  &--no-padding {
    padding-left: 0;
    padding-right: 0;
  }

}

.fieldset-block__left-column {
  margin-bottom: 9px;

  &--cat-own {
    margin-bottom: 0;
  }

  &--cat-own:first-child {
    margin-bottom: 14px;
  }
}

.fieldset-block__title {
  font-size: 24px;
  line-height: 1;
  color: #111111;

  margin: 0;
  padding: 0;
  padding-left: 19px;
  padding-right: 14px;
  margin-left: -20px;
  margin-bottom: 34px;

  background-color: #ffffff;

  &--addtional {
    margin-bottom: 32px;
    padding-right: 24px;
  }

  &--note {
    padding-right: 22px;
    margin-bottom: 35px;
  }
}

.fieldset-block__textarea {
  width: 100%;
  height: 150px;

  resize:none;

  padding-top: 12px;
  padding-left: 14px;
  border: 1px solid rgba(205,205,205, 0.5);
}

.fieldset-block__textarea::placeholder {
  font-family: $font-family--Oswald-Regular;
  font-size: 16px;
  line-height: 1.13;
  color: #444444;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .fieldset-block {
    margin-bottom: 75px;

    &--cat-own {
      margin-bottom: 66px;
    }

    &--note {
      margin-bottom: 65px;
    }
  }

  .fieldset-block__left-column {
    margin-bottom: 58px;
  }

  .fieldset-block__left-column--cat-own:first-child {
    margin-bottom: 20px;
  }

  .fieldset-block__title {
    font-size: 36px;
    line-height: 1;

    padding-left: 40px;
    margin-bottom: 76px;
    margin-left: -42px;
    padding-right: 42px;

    &--addtional {
      margin-bottom: 57px;
    }

    &--note {
      padding-right: 38px;
    }
  }

  .fieldset-block__title br {
    display: none;
  }

  .fieldset-block__textarea {
    font-size: 20px;
    line-height: 1.5;

    height: 173px;
    padding-top: 9px;
    padding-left: 17px;
  }

  .fieldset-block__textarea::placeholder {
    font-size: 20px;
    line-height: 1.5;
  }

  .fieldset-block__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 564px;
  }

  .fieldset-block--no-margin {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .fieldset-block__columns {
    display: flex;
    justify-content: space-between;
  }

  .fieldset-block__left-column {
    width: 570px;
    margin-bottom: 0;
  }

  .fieldset-block__title {
    margin-left: -40px;
  }

  .fieldset-block {
    margin-bottom: 69px;

    &--cat-own {
      margin-bottom: 48px;
    }

    &--note {
      margin-bottom: 67px;
    }
  }

  .fieldset-block__wrapper {
    width: auto;
  }

  .fieldset-block__textarea {
    width: 100%;
  }

  .fieldset-block--no-margin {
    margin-bottom: 0;
  }
}
