.form__label {
  font-size: 16px;
  line-height: 1.13;
  color: #222222;
  text-transform: uppercase;

  display: flex;

  position: relative;

  &--cat-own:first-child {
    margin-bottom: 14px;
  }

  &--radio {
    padding-left: 65px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 4px;
  }

  &--radio:first-child {
    margin-top: 16px;
    margin-bottom: 5px;
  }

  &--radio:last-child {
    margin-bottom: 0;
  }

  &--checkbox {
    padding-left: 46px;
    padding-top: 8px;
    padding-bottom: 10px;
    margin-bottom: 6px;
  }

  &--checkbox:nth-last-child(2) {
    margin-bottom: 5px;
  }

  &--checkbox:last-child {
    margin-bottom: 0;
  }
}

.form__radio:focus + .form__label {
  opacity: 0.3;
}

.form__checkbox:focus + .form__label {
  opacity: 0.3;
}

.form__label--radio::before {
  content: "";

  width: 30px;
  height: 30px;

  position: absolute;
  top: 4px;
  left: 19px;

  border: solid 1px #cdcdcd;
  border-radius: 50%;
  background-color: #ffffff;

  // box-shadow: inset 0px 0px 0px 8px #ffffff;
}

.form__radio:checked + .form__label--radio::before {
  background-color: #68b738;
  box-shadow: inset 0 0 0 8px #ffffff;
}

.form__radio:focus + label::before,
.form__checkbox:focus + label::before {
  outline: 5px auto -webkit-focus-ring-color;
}

.form__input {
  font-size: 16px;
  line-height: 1.13;

  height: 45px;
  width: 100%;

  margin-bottom: 14px;
  margin-left: 14px;
  padding-left: 14px;
  padding-top: 11px;
  padding-bottom: 14px;

  border: 1px solid rgba(205, 205, 205, 0.5);

  padding-right: 40px;

  &--cat-own {
    margin-left: 10px;
    margin-bottom: 0;
  }

  &--weight-margin {
    margin-left: 17px;
  }

  &--age-margin {
    margin-left: 15px;
    padding-left: 15px;
  }

  &--email {
    padding-left: 15px;
  }
}

.form__input::placeholder {
  font-family: $font-family--Oswald-Regular;
  font-size: 16px;
  line-height: 1.13;
  color: #444444;
}

.form__svg {
  position: absolute;
  top: 13px;
}

.form__svg-email {
  width: 18px;
  height: 14px;

  right: 15px;
}

.form__input--cat-own:focus + .form__svg {
  fill: #68b738;
}

.form__input--cat-own:invalid + .form__svg {
  fill: #ff8282;
}

.form__svg-phone {
  width: 21px;
  height: 21px;

  right: 12px;
}

.form__input:focus {
  border: 2px solid #444444;
  padding-left: 13px;
  padding-top: 10px;
  padding-bottom: 13px;
}

.form__input--age-margin:focus {
  padding-left: 14px;
}

.form__input--email:focus {
  padding-left: 14px;
}

.form__input--phone:focus {
  padding-left: 13px;
}

.form__input:invalid {
  border: 2px solid #ff8282;
}

.form__label--checkbox::before {
  content: "";

  width: 30px;
  height: 30px;

  position: absolute;
  top: 3px;
  left: 0;

  border: 1px solid rgba(205, 205, 205, 0.5);
}

.form__checkbox:checked + .form__label--checkbox::after {
  content: "";

  width: 22px;
  height: 17px;

  position: absolute;
  top: 10px;
  left: 5px;

  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
}

.form__program-selection {
  display: flex;
  flex-direction: column;

  border: 1px solid rgba(205, 205, 205, 0.5);
  padding-bottom: 17px;
  padding-top: 17px;
}

.form__label-description {
  display: block;
  width: auto;
  padding-top: 13px;

  white-space: nowrap;
}

.form__button-wrapper {
    margin-top: 31px;
}

.form__button {
  letter-spacing: 1px;
  margin-left: 0;
}

.form__footnote {
  font-family: $font-family--Arial;
  font-size: 14px;
  line-height: 1.15;
  color: #444444;

  display: block;
  margin-top: 21px;
  margin-left: 62px;
}

@media (min-width: $tablet-width) {
  .form {
    padding-left: 42px;
    padding-right: 38px;
  }

  .form__label-description {
    padding-top: 15px;
  }

  .form__label {
    font-size: 20px;
    line-height: 1;

    width: auto;
    margin-bottom: 6px;

    &--cat-own:first-child {
      margin-bottom: 19px;
    }

    &--phone {
      margin-left: -4px;
    }

    &--radio {
      padding-left: 87px;
      margin-bottom: 13px;
    }

    &--checkbox {
      display: block;
      width: 220px;
      margin: 0;
      padding: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 56px;
    }
  }

  .form__label--checkbox:nth-child(1),
  .form__label--checkbox:nth-child(2) {
    margin-bottom: 32px;
  }

  .form__checkbox:checked + .form__label--checkbox::after {
    top: 13px;
    left: 8px;
  }

  .form__label:last-child {
    margin-bottom: 0;
  }

  .form__label::before {
    width: 40px;
    height: 40px;

    top: 1px;
    left: 28px;
  }

  .form__label--checkbox::before {
    left: -2px;
  }

  .form__radio:checked + .form__label--radio::before {
    background-color: #68b738;
    box-shadow: inset 0 0 0 10px #ffffff;
  }

  .form__input {
    font-size: 20px;
    line-height: 1;

    min-height: 52px;
    margin-left: 17px;
    padding-left: 16px;
    padding-top: 14px;
    padding-bottom: 16px;

    &--weight-margin {
      margin-left: 19px;
      padding-left: 18px;
    }

    &--age-margin {
      margin-left: 16px;
      padding-left: 19px;
    }

    &--email {
      margin-left: 19px;
      padding-left: 20px;
      // padding-top: 0;
    }

    &--phone {
      padding-left: 18px;
    }
  }

  .form__svg-email {
    top: 14px;
    right: 19px;
  }

  .form__svg-phone {
    top: 17px;
    right: 15px;
  }

  .form__input:focus {
    border: 2px solid #444444;
    padding-left: 17px;
    padding-top: 13px;
    padding-bottom: 15px;
  }

  .form__input--name:focus {
    padding-left: 15px;
  }

  .form__input--age-margin:focus {
    padding-left: 18px;
  }

  .form__input--email {
    padding-left: 18px;
  }

  .form__input::placeholder {
    font-size: 20px;
    line-height: 20px;
    text-transform: capitalize;
  }

  .form__program-selection {
    padding-top: 23px;
    padding-bottom: 25px;
  }

  .form__bottom-wrapper {
    display: flex;
    justify-content: space-around;
  }

  .form__button-wrapper {
    display: flex;

    margin-top: 55px;
  }

  .form__button {
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0;

    width: 283px;
    min-height: 52px;
    margin: 0;
    margin-left: 41px;
  }

  .form__footnote {
    font-size: 16px;
    line-height: 1;

    width: auto;
    padding: 0;
    margin: 0;
    margin-top: 16px;
    margin-left: 61px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding-left: 0;
    padding-right: 0;
  }

  .form__program-selection {
    margin: 0;
    width: 570px;
    padding-bottom: 0;
  }

  .form__label {
    &--checkbox {
      width: 243px;
      padding-left: 58px;
    }

    &--data-cat {
      margin-left: 2px;
    }

    &--cat-own {
      width: 570px;
      margin-left: 2px;
    }
  }

  .form__label--checkbox::before {
    left: -1px;
  }

  .form__checkbox:checked + .form__label--checkbox::after {
    top: 13px;
    left: 9px;
  }


  .form__svg-email {
    right: 21px;
  }

  .form__svg-phone {
    right: 18px;
  }

  .form__input {
    &--age-margin {
      margin-bottom: 0;
    }
  }

  .form__button-wrapper {
    margin-top: 30px;
  }

  .form__button {
    width: 570px;
    margin-left: 0;
  }

  .form__footnote {
    margin-left: 82px;
  }
}
