.fieldset-block {
  display: flex;

  border: none;

  margin: 0;
  margin-bottom: 29px;
  padding: 0;

  &--cat-own {
    margin-bottom: 14px;
  }
}

.form__label {
  font-size: 16px;
  line-height: 1.13;
  color: #222222;
  text-transform: uppercase;

  width: 280px;

  display: flex;

  &--radio {
    padding-left: 46px;
    margin-bottom: 25px;
  }

  &--checkbox {
    padding-left: 46px;
    margin-bottom: 25px;
  }

  &--checkbox:last-child {
    margin-bottom: 0;
  }
}

.form__input {
  height: 45px;
  width: 100%;

  margin-bottom: 14px;
  margin-left: 14px;
  padding-left: 13px;
  padding-top: 5px;

  &--cat-own {
    margin-left: 10px;
  }
}

.form__input::placeholder {
  font-family: $font-family--Oswald-Regular;
  font-size: 16px;
  line-height: 1.13;
  color: #444444;
  text-transform: uppercase;
}

.form__program-selection {
  display: flex;
  flex-direction: column;

  margin-top: 36px;
}

.fieldset-block__title {
  font-size: 24px;
  line-height: 1;
  color: #111111;

  margin: 0;
  padding: 0;
  margin-bottom: 35px;

  &--addtional {
    margin-bottom: 39px;
  }
}

.form__label-description {
  display: block;
  width: auto;
  padding-top: 13px;

  white-space: nowrap;
}

.fieldset-block__textarea {
  // font-family: inherit;
  // font-size: 16px;
  // line-height: 18px;
  // color: #444444;
  // text-transform: uppercase;

  width: 280px;
  height: 150px;
}

.fieldset-block__textarea::placeholder {
  font-family: $font-family--Oswald-Regular;
  font-size: 16px;
  line-height: 1.13;
  color: #444444;
  text-transform: uppercase;

  padding-top: 10px;
  padding-left: 11px;
}

.form__button {
  letter-spacing: 1px;

  margin-top: 10px;
}

.form__footnote {
  font-family: $font-family--Arial;
  font-size: 14px;
  line-height: 1.15;
  color: #444444;

  display: block;
  width: 160px;
  margin: 0 auto;
  margin-top: 21px;
  margin-bottom: 31px;
}
