.live-example {
  background-color: #f2f2f2;

  padding-top: 16px;
  // margin-bottom: 15px;
}

.live-example__title {
  // font-family: "Oswald-Regular", Arial, sans-serif;
  font-size: 36px;
  line-height: 1.67;
  font-weight: 400;
  color: #111111;

  margin-top: 0;
  margin-bottom: 24px;
}

.live-example__description {
  font-family: $font-family--Arial;
  font-size: 14px;
  line-height: 1.29;
  color: #444444;

  width: 270px;
  margin-bottom: 25px;
}

.live-example__statistics {
  margin-bottom: 18px;
}

.live-example__price {
  // font-family: "Oswald-Regular", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #111111;
  text-transform: uppercase;

  display: block;
  margin: 0 auto;
  width: 188px;
}
