.live-example {
  background-color: #f2f2f2;

  padding-top: 16px;
}

.live-example__title {
  font-size: 36px;
  line-height: 1.67;
  font-weight: 400;
  color: #111111;

  margin-top: 0;
  margin-bottom: 24px;
}

.live-example__description {
  font-family: $font-family--Arial;
  font-size: 14px;
  line-height: 1.29;
  color: #444444;

  padding-right: 9px;
  margin-bottom: 25px;
}

.live-example__statistics {
  margin: 0 auto;
  margin-bottom: 17px;
}

.live-example__price {
  margin: 0 auto;
  // margin-left: 46px;
}

.live-example__price br {
  display: none;
}

.live-example__comparison {
  margin-top: 33px;
}

@media (min-width: $tablet-width) {
  .live-example {
    padding-top: 1px;

    background-color: transparent;
  }

  .live-example__title {
    font-size: 60px;
    line-height: 1;

    margin-top: 41px; //43px
    margin-bottom: 64px;
  }

  .live-example__description {
    font-size: 16px;
    line-height: 1.5;

    width: 700px;
    margin-bottom: 53px;
  }

  .live-example__table-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .live-example__statistics {
    margin-left: 0;
    margin-right: auto;
  }

  .live-example__comparison {
    margin-top: 63px;
  }

  .live-example__price {
    font-size: 20px;
    line-height: 1;
    color: #111111;
    text-align: right;

    margin-right: 0;
    margin-top: 10px;
  }

  .live-example__price br {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .live-example__title {
    margin-top: 0;
    margin-bottom: 76px;
    background-color: #ffffff;
  }

  .live-example__wrapper-background {
    min-height: 461px;

    background-color: #f2f2f2;
    background-image: linear-gradient(to right, #f2f2f2, #f2f2f2 50%, #eaeaea 50%, #eaeaea);
  }

  .live-example__description {
    width: 445px;
    margin: 0;
    margin-bottom: 68px;
    padding-top: 70px;
  }

  .live-example__wrapper {
    display: flex;
    justify-content: space-between;

    width: 1300px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
  }

  .live-example__left-column {
    width: auto;
    padding: 0;
    margin: 0;
  }

  .live-example__table-wrapper {
    flex-direction: column;
  }

  .live-example__statistics {
    margin-bottom: 0;
    // margin-left: 0;
    // margin-right: auto;
  }

  .live-example__price {
    margin-left: 0;
    margin-right: auto;
    margin-top: 52px;
  }

  .live-example__comparison {
    margin-top: -191px;
  }
}
