.merchandise__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  color: #222222;

  margin: 0;
  margin-bottom: 11px;
  padding: 0;
}

.merchandise__description {
  font-family: $font-family--Arial;
  font-size: 14px;
  line-height: 1;
  color: #444444;
}

.merchandise__description tr {
  display: flex;
  justify-content: space-between;

  width: 280px;
}

.merchandise__field {
  padding: 0;
  margin-left: -2px;
}

.merchandise__button  {
  margin-top: 11px;
}
