.page-header {
  position: relative;
  overflow: hidden;
}

.page-header__logo-image {
  width: 191px;
  height: auto;

  &--no-margin {
    margin-left: 0;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    justify-content: space-between;
  }

  .page-header__logo-image {
    width: 174px;
    height: auto;

    margin-left: 0;
  }

  .page-header::before {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo-image {
    width: 203px;
    height: auto;
  }

  .page__header--index {
    align-items: flex-start;

    min-height: 696px;
    padding-top: 55px;
  }
}
