.page__footer {
  // margin-top: 15px;

  &--catalog-margin {
    background-color: #f2f2f2;
    margin-top: 35px;
  }
}

.page__footer {
  &--form-margin {
    margin-top: 32px;
    background-color: #f2f2f2;
  }
}

.page__header {
  margin-top: 11px;
  margin-bottom: 14px;
}

@media (min-width: $tablet-width) {
  .page__header {
    margin-top: 23px;
    // padding-left: 29px;
    // padding-right: 31px;
  }

  .page__footer {
    &--catalog-margin {
      margin-top: 31px;
    }

    &--form-margin {
      background-color: #f2f2f2;
      margin-top: 93px;
    }
  }
}

@media (min-width: $desktop-width) {
  .page__header {
    margin-top: 0;
    margin-bottom: 46px;
  }

  .page__footer {
    &--catalog-margin {
      margin-top: 88px;
    }

    &--form-margin {
      margin-top: 102px;
    }
  }
}
