.page-header {
  margin: 0;

  position: relative;
}

.page-header__logo-image {
  margin-left: 20px;
}

@media (min-width: $tablet-switch) {
  .page-header {
    display: flex;
    justify-content: space-between;
  }

  .page-header__logo-image {
    margin-left: 0;
  }

  .page-header::before {
    display: none;
  }
}

@media (min-width: $desktop-switch) {
  .page-header {
    margin: auto;
    // padding: inherit;
  }
}
