.page-main__title {
  font-size: 36px;
  line-height: 1.67;
  color: #111111;
  font-weight: 400;

  margin: 0;
  margin-top: 28px;
  padding: 0;
}

.page-main__description {
  font-size: 14px;
  line-height: 1.29;
  color: #111111;
  text-transform: uppercase;

  width: 228px;
  margin-top: 26px;
  margin-bottom: 39px;
}

.page-main__program-selection {
  text-align: center;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 22px;
}

.page-main__program-options {
  margin-bottom: 15px;
}

.page-main__advatages {
  margin-bottom: 46px;
}

.page-main__products {
  margin-bottom: 51px;
}

.page-main__promo {
  margin-top: 57px;
}

@media (min-width: $tablet-switch) {
  .page-main__program-selection {
    text-align: left;
    width: $tablet-width;
    margin: 0 auto;
    margin-bottom: 0;
  }

  .page-main__program-options {
    margin-bottom: 45px;
  }

  .page-main__advatages {
    margin-bottom: 86px;
  }

  .page-main__title {
    font-size: 60px;
    line-height: 1;
    font-weight: 400;
  }

  .page-main__products {
    margin-bottom: 68px;
  }

  .page-main__promo {
    margin-top: 52px;
  }
}

@media (min-width: $desktop-switch) {
  .page-main {
    margin-top: -600px;

    &--form {
      margin-top: 0;
    }
  }
  .page-main__program-selection {
    width: 1200px;
    margin: 0 auto;
    // margin-bottom: 34px;
  }

  .page-main__program-options {
    margin-bottom: 43px;
  }

  .page-main__advatages {
    margin-bottom: 8px;
  }

  .page-main__products {
    margin-bottom: 46px;
  }

  .page-main__promo {
    margin-top: 144px;
  }
}
