@media (min-width: $tablet-switch) {
  .page-catalog__header {
    margin-top: 55px;
    margin-bottom: 80px;
  }
}

@media (min-width: $desktop-switch) {
  .page-catalog__wrapper-promo {
    display: flex;
    justify-content: space-between;
  }
}
