.page-header {
  position: relative;
}

.page-header__logo-image {
  // margin-left: 20px;

  &--no-margin {
    margin-left: 0;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    justify-content: space-between;
  }

  .page-header__logo-image {
    margin-left: 0;
  }

  .page-header::before {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page__header--index {
    align-items: flex-start;

    min-height: 696px;
    padding-top: 55px;
    padding-right: 110px;
    padding-left: 109px;

    background-image: url("../../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: right;
  }
}
