.page-form__header {
  margin-top: 12px;
}

@media (min-width: $tablet-switch) {
  .page-form__header {
    margin-top: 23px;
  }

  .page-form__title {
    margin-top: 64px;
  }

  .page-form__description {
    font-size: 20px;
    line-height: 1.5;

    width: 340px;
    margin-top: 56px;
    margin-left: 41px;
    margin-bottom: 66px;
  }
}

@media (min-width: $desktop-switch) {
  .page-form__header {
    margin-top: 54px;
    margin-bottom: 80px;
  }

  .page-form__description {
    margin-left: 0;
  }
}
