.page-main__title {
  font-size: 36px;
  line-height: 1.67;
  color: #111111;

  margin: 0;
  margin-top: 25px;
  padding: 0;
}

.page-main__description {
  font-size: 14px;
  line-height: 1.29;
  color: #111111;
  text-transform: uppercase;

  width: 228px;
  margin-top: 26px;
  margin-bottom: 39px;
}
