.page-form__header {
  margin-top: 12px;
  margin-bottom: 16px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.page-form__title {
  margin-top: 0;
  margin-bottom: 26px;
}

.page-form__description {
  margin-top: 0;
  margin-bottom: 39px;
}

@media (min-width: $tablet-width) {
  .page-form__title {
    margin-bottom: 55px;
  }

  .page-form__header {
    margin-top: 23px;
    border-bottom: none;
  }

  .page-form__description {
    font-size: 20px;
    line-height: 1.5;
    padding-left: 70px;

    margin-bottom: 66px;
  }
}

@media (min-width: $desktop-width) {
  .page-form__header {
    margin-top: 54px;
    margin-bottom: 68px;
  }

  .page-form__description {
    padding-left: 110px;
  }
}
