.page-main--form {
    overflow-x: hidden;
    display: block;
}
.page-main__title {
  font-size: 36px;
  line-height: 1.67;
  color: #111111;
  font-weight: 400;

  margin-top: 28px;
}

.page-main__description {
  font-size: 14px;
  line-height: 1.29;
  color: #111111;
  text-transform: uppercase;

  // width: 228px;
  margin-top: 26px;
  margin-bottom: 39px;
}

.page-main__program-selection {
  text-align: center;
  min-width: 320px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 22px;
}

.page-main__program-options {
  margin-bottom: 17px;
}

.page-main__advatages {
  margin-bottom: 45px;
}

.page-main__products {
  margin-bottom: 5px;
}

.page-main__promo {
  margin-top: 39px;
}

@media (min-width: $tablet-width) {
  .page-main__program-selection {
    text-align: left;
    width: $tablet-width;
    margin: 0 auto;
    margin-bottom: 0;
  }

  .page-main__program-options {
    margin-bottom: 45px;
  }

  .page-main__advatages {
    padding-bottom: 102px;
    margin-bottom: 0;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .page-main__title {
    font-size: 60px;
    line-height: 1;
    font-weight: 400;
  }

  .page-main__products {
    margin-bottom: 37px;
  }

  .page-main__promo {
    margin-top: 24px;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    // margin-top: -600px;

    &--form {
      margin-top: 0;
    }
  }

  .page-main__program-selection {
    width: 1200px;
    margin: 0 auto;
    // margin-bottom: 34px;
  }

  .page-main__program-options {
    margin-bottom: 73px;
  }

  .page-main__advatages {
    margin-bottom: 125px;
    padding-bottom: 0;
    border: none;
  }

  .page-main__products {
    margin-bottom: 76px;
  }

  .page-main__promo {
    margin-top: 114px;
  }
}
