.page__footer {
  margin-top: 15px;

  &--catalog-margin {
    background-color: #f2f2f2;
    margin-top: 35px;
  }
}

.page__header {
  margin-top: 11px;
  margin-bottom: 14px;
}

@media (min-width: $tablet-width) {
  .page__header {
    margin-top: 23px;
  }

  .page__footer {
    &--catalog-margin {
      margin-top: 31px;
    }

    &--form-margin {
      background-color: #f2f2f2;
      margin-top: 93px;
    }
  }
}

@media (min-width: $desktop-width) {
  .page__header {
    min-height: 696px;
    padding-top: 55px;
    background-image: url("../../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: right;

    &--background-wrapper {
      width: 1440px;
      padding-left: 0;
      padding-right: 0;
      margin: 0 auto;
    }
  }

  .page__footer {
    &--catalog-margin {
      margin-top: 102px;
    }

    &--form-margin {
      margin-top: 102px;
    }
  }
}
