.products {
  margin-bottom: 20px;
}

.products__list {
  margin: 0;
  padding: 0;
}

.products__item {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  list-style: none;
}

.products__columns {
  display: flex;
}

.products__title {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;

  margin-top: 21px;
  margin-bottom: 0;
}

.products__description {
  margin-top: 10px;
}

// .products__buy  {
//   font-size: 16px;
//   line-height: 20px;
// }
