.program-selection {
  display: flex;
  flex-direction: column;

  &--background-wrapper {
    background-image: url("../../img/index-background-mobile@1x.jpg");
    // background-color: #63a837;
    background-repeat: no-repeat;
    background-position: top;

    padding-top: 1px;
  }
}

.program-selection__description {
  // font-family: "Oswald-Regular", Arial, sans-serif;
  font-size: 36px;
  line-height: 1;
  color: #ffffff;
  // text-align: center;
  font-weight: 400;

  margin: 0 auto;
  margin-top: 26px;
  display: block;
}

.program-selection__intro {
  // font-family: "Oswald-Regular", Arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #ffffff;
  text-transform: uppercase;

  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 28px;
}

.program-selection__food-image {
  margin: 0 auto;
}

.program-selection__button {
  margin: 0 auto;
  margin-top: 3px;
}

@media (min-width: $tablet-width) {
  .program-selection {

    &--background-wrapper {
      background-image: none;
    }
   }

  .program-selection__description {
    font-size: 60px;
    line-height: 1;
    color: #111111;

    width: 531px;
    margin-top: 49px;
    margin-bottom: 41px;
  }

  .program-selection__intro {
    font-size: 20px;
    line-height: 1;
    color: #111111;

    margin: 0;
    margin-left: 119px;
    margin-bottom: 48px;
  }

  .program-selection__food-image {
    order: 1;

    width: 709px;
    height: 609px;

    margin-top:  -80px;
    margin-right: -24px;
  }

  .program-selection__button {
    font-size: 20px;
    line-height: 1;


    width: 245px;
    min-height: 52px;
    margin: 0;
    margin-left: 119px;

    z-index: 1;
  }
}

@media (min-width: $desktop-width) {
  .program-selection__description {
    margin: 0;
    margin-top: 125px;
    margin-left: 70px;
    margin-bottom: 41px;
  }

  .program-selection__intro {
    margin-bottom: 0;
    margin-left: 70px;
  }

  .program-selection__button {
    margin-top: 53px;
    margin-left: 69px;
  }

  .program-selection__food-image {
    margin-right: 0;
    margin-left: auto;
    margin-top: -375px;
  }
}
