.program-selection {
  text-align: center;

  width: 320px;
  margin: 0 auto;
  margin-bottom: 22px;

  &--background-wrapper {
    background-image: url('../../img/index-background-mobile@1x.jpg');
    // background-color: #63A837;
    background-repeat: no-repeat;
    background-position: top;

    padding-top: 1px;
  }
}

.program-selection__description {
  // font-family: "Oswald-Regular", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #FFFFFF;
  text-align: center;
  font-weight: 400;

  margin-top: 26px;
  display: block;
}

.program-selection__intro {
  // font-family: "Oswald-Regular", Arial, sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
  text-transform: uppercase;

  margin-top: 25px;
  margin-bottom: 28px;
}

.program-selection__button {
  margin-top: -2px;
}
