.program {
  padding-top: 1px;
  padding-bottom: 23px;

  background-color: #f2f2f2;
}

.program:last-child {
  margin-bottom: 0;
}

.program__title {
  // font-family: "Oswald-Regular", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.55;
  color: #111111;
  font-weight: 400;
  text-transform: uppercase;

  padding-left: 91px;
  margin-top: 29px;
  margin-bottom: 29px;

  position: relative;
}

.program__title::before {
  content: "";

  width: 50px;
  height: 51px;
  border-radius: 50%;

  background-color: $button-color;

  position: absolute;
  top: -6px;
  left: 22px;
}

.program__title::after {
  content: "";

  position: absolute;
}

.program__title-gain::after {
  width: 67px;
  height: 28px;

  top: 6px;
  left: 13px;

  background-image: url("../../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.program__title-slim::after {
  width: 35px;
  height: 49px;

  top: -8px;
  left: 30px;

  background-image: url("../../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.program__description {
  font-family: $font-family--Arial;
  font-size: 14px;
  line-height: 1.29;
  color: #444444;

  width: 236px;
  margin: 0;
  margin-left: 21px;
  padding: 0;
}

.program__button {
  // font-family: "Oswald-Regular", Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #111111;
  text-transform: uppercase;

  display: block;
  margin-top: 42px;
  margin-left: 21px;
  // margin-bottom: 20px;
  padding-right: 40px;
}

@media (min-width: $tablet-switch) {
  .program__title {
    font-size: 36px;
    line-height: 1.03;

    padding-left: 0;
    margin-top: 75px;
    margin-left: 53px;
    margin-bottom: 25px;
  }

  .program__title::before {
    width: 200px;
    height: 200px;

    top: 16px;
    left: auto;
    right: 62px;
  }

  .program__title-slim::after {
    width: 141px;
    height: 194px;

    top: 4px;
    left: auto;
    right: 93px;
  }

  .program__title-gain::after {
    width: 268px;
    height: 113px;

    top: 58px;
    left: auto;
    right: 28px;
  }

  .program__description {
    font-size: 16px;
    line-height: 1.5;

    width: 380px;
    margin-left: 53px;

    &--less-margin {
      width: 340px;
    }
  }

  .program__button {
    font-size: 20px;
    line-height: 1;

    margin-top: 56px;
    margin-left: 53px;
  }
}

@media (min-width: $desktop-switch) {
  .program__title {
    margin-left: 214px;
    margin-bottom: 74px;
  }

  .program__title::before {
    width: 100px;
    height: 100px;

    top: -29px;
    left: -162px;
  }

  .program__title-slim::after {
    width: 71px;
    height: 97px;

    top: -35px;
    left: -149px;
  }

  .program__title-gain::after {
    width: 134px;
    height: 57px;

    top: -8px;
    left: -180px;
  }

  .program__description {
    width: 465px;
  }

  .program__button {
    margin-top: 31px;
  }

  .program:last-child {
    margin-bottom: auto;
  }
}
