.promo {
  text-align: center;

  min-height: 289px;
  padding-top: 1px;

  // background-color: #68B738;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;

  position: relative;
}

.promo::before {
  content: "";

  width: 56px;
  height: 61px;

  position: absolute;
  top: 65px;
  left: 113px;

  background-image: url("../../img/icon-gift.svg");
  fill: #fff;
}

.promo__description {
  font-family: $font-family--Arial;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  width: 165px;
  margin: 0 auto;
  margin-top: 186px;
}
