.show-more {
  text-align: center;
  // min-height: 210px;
  // margin: 0;
  // padding: 0;
  padding-top: 1px;

  position: relative;
}

.show-more__title {
  font-size: 16px;
  line-height: 1.25;
  color: #111111;
  text-transform: uppercase;
  font-weight: 400;

  margin-top: 78px;
  margin-bottom: 8px;
}

.show-more__description {
  font-family: $font-family--Arial;
  font-size: 12px;
  line-height: 1.34;
  color: #444444;

  margin: 0;
  padding: 0;
}

.show-more__button {
  background-color: #f2f2f2;

  margin-top: 21px;
}

.show-more::before {
  content: "";

  width: 31px;
  height: 31px;

  position: absolute;
  top: 25px;
  left: 124px;
  opacity: 0.2;

  background-image: url("../../img/icon-plus.svg");
}

@media (min-width: $tablet-width) {
  .show-more {
    width: 324px;
    border: 1px solid rgba(205, 205, 205, 0.5);

    text-align: center;

    background-color: transparent;
  }

  .show-more::before {
    width: 61px;
    height: 61px;

    top: 54px;
    left: 131px;
  }

  .show-more__title {
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 400;

    width: 150px;
    margin: 0 auto;
    margin-top: 162px;
    margin-bottom: 27px;
  }

  .show-more__description {
    font-size: 16px;
    line-height: normal;

    width: 185px;
    margin: 0 auto;
  }

  .show-more__button {
    width: 250px;
    margin: 0 auto;
    margin-top: 85px;
  }
}

@media (min-width: $desktop-width) {
  .show-more {
    width: 245px;
  }

  .show-more::before {
    top: 54px;
    left: 91px;
  }

  .show-more__title {
    margin-top: 162px;
  }

  .show-more__button {
    width: 169px;
  }
}
