.site-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  width: 100%;
}

.site-list__item {
  font-size: 20px;
  line-height: 1;
  color: #111111;
  text-align: center;

  list-style: none;

  min-height: 66px;
  margin: 0;
  padding: 0;

  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.site-list__item:first-child {
  margin-top: 13px;
}

.site-list__item:last-child {
  margin-bottom: -13px;
}

.site-list__item-link {
  font-family: $font-family--Oswald-Medium;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  color: #111111;

  display: block;
  padding-top: 23px;


  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-switch) {
  .site-list {
    flex-direction: row;
    justify-content: space-between;
  }

  .site-list__item:first-child {
    margin-top: 0;
  }

  .site-list__item:last-child {
    margin-bottom: 0;
  }

  .site-list__item {
    min-height: 56px;
    border: none;
  }

  .site-list__item-link {
    font-family: $font-family--Oswald-Regular;
    font-size: 18px;
    line-height: 1.39;
    color: inherit;

    padding-top: 22px;
    padding-bottom: 7px;
  }
}


@media (min-width: $desktop-switch) {
  .site-list__item-link {
    font-size: 20px;
    line-height: 1.25;
    color: #ffffff;

    &--color-black {
      color: #111111;
    }
  }
}
