.social {
  margin: 0 auto;
  padding: 0;

  display: flex;
  justify-content: space-between;

  width: 135px;
}

.social__item {
  margin: 0;
  padding: 0;
  width: 18px;

  list-style: none;
}

.social__link {
  display: block;
}

.social__link svg {
    fill: #666666;
}

.social__link:hover svg {
    fill: #68b738;
}

.social__link:focus svg {
    opacity: 0.3;
}

.social__link--vkontakte {
  width: 22px;
  height: auto;
  margin-top: -1px;
}

.social__link--instagram {
  width: 16px;
  height: auto;
  margin-top: 1px;
  margin-right: 1px;
  margin-left: auto;
}

.social__link--facebook {
  width: 10px;
  height: auto;
  margin-top: -1px;
  margin-left: -2px;
}

@media (min-width: $tablet-width) {
  .social {
    width: 130px;
    padding-top: 11px;
  }

  .social__item {
    width: 35px;
  }

  .social__link {
    margin: 0 auto;
  }

  .social__link--vkontakte {
    width: 30px;
    padding-top: 4px;
  }

  .social__link--instagram {
    width: 23px;
    margin-right: -1px;
    margin-left: auto;
    padding-top: 1px;
  }

  .social__link--facebook {
    width: 14px;
    margin-right: 3px;
    margin-top: -2px;
    padding-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .social {
    width: 150px;
    margin-left: auto;
    padding-left: 21px;
    padding-top: 12px;
  }

  .social__link--vkontakte {
    margin-left: 2px;
  }
}
