.wrapper {
  padding-left: 20px;
  padding-right: 20px;
  width: 320px;
  margin: 0 auto;

  &--without-padding {
    width: 320px;
    margin: 0 auto;
    padding: 0;
  }

  &--background {
    background-color: #f2f2f2;
  }
}

@media (min-width: $tablet-width) {
  .wrapper {
    width: $tablet-width;
    padding-left: 30px;
    padding-right: 30px;

    &--without-padding {
      width: $tablet-width;
    }

    &--form {
      width: $tablet-width;
      padding-left: 70px;
      padding-right: 67px;
    }

    &--form-inner {
      width: 630px;
      margin-left: 40px;
      margin-right: 40px;
    }
  }
}

@media (min-width: $desktop-width) {
  .wrapper {
    width: $desktop-width;
    padding-left: 110px;
    padding-right: 110px;

    &--disabled-margin {
      width: $desktop-width;
      padding: 0;
      margin: 0;
      // margin-left: 50px;
    }

    &--without-padding {
      width: $desktop-width;
    }

    &--catalog {
      padding-left: 110px;
      padding-right: 110px;
    }
  }
}
