.wrapper {
  padding-left: 20px;
  padding-right: 20px;
  width: 320px;
  margin: 0 auto;

  &--without-padding {
    width: 320px;
    margin: 0 auto;
    padding: 0;
  }

  &--background {
    background-color: #F2F2F2;
  }

  &--program-selection {
    text-align: center;
    width: 320px;
    margin: 0 auto;
    margin-bottom: 22px;
  }

  &--program-options {
    margin-bottom: 19px;
  }

  &--work-principle {
    margin-bottom: 46px;
  }

  &--page-footer {
    margin-top: 15px;
  }

  &--products {
    margin-bottom: 25px;
  }

  &--promo {
    margin-top: 57px;
    margin-bottom: 34px;
  }
}
