.wrapper {
  padding-left: 20px;
  padding-right: 20px;
  min-width: 320px;
  margin: 0 auto;

  &--without-padding {
    min-width: 320px;
    margin: 0 auto;
    padding: 0;
  }

  &--background {
    background-color: #f2f2f2;
  }

  &--background-cooperation {
    background-color: #f2f2f2;
  }

  &--background-white {
    background-color: #ffffff;
  }

  &--form {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: $tablet-width) {
  .wrapper {
    width: $tablet-width;
    padding-left: 30px;
    padding-right: 30px;

    &--without-padding {
      width: $tablet-width;
    }

    &--form {
      padding-left: 72px;
      padding-right: 67px;
    }

    &--form-selection {
      margin-left: 70px;
      margin-right: 70px;
    }

    &--comparison {
      width: $tablet-width;
      padding-left: 30px;
      padding-right: 30px;
      margin: 0 auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .wrapper {
    width: $desktop-width;
    padding-left: 40px;
    padding-right: 40px;

    &--disabled-margin {
      width: $desktop-width;
      padding: 0;
      margin: 0;
      // margin-left: 50px;
    }

    &--without-padding {
      width: $desktop-width;
    }

    &--form {
      margin-left: 0;
      margin-right: 0;
      padding: 0;
    }

    &--fieldset-block {
      width: $desktop-width;
      padding-left: 40px;
      padding-right: 40px;
      margin-left: 0;
      margin-right: 0;
    }

    &--background-cooperation {
      background-color: transparent;
    }

    &--background-white {
      background-color: transparent;
    }
  }
}
