$font-family--Arial: "Arial", sans-serif;
$font-family--Oswald-Regular: "Oswald-Regular", "Arial", sans-serif;
$font-family--Oswald-Medium: "Oswald-Medium", "Arial", sans-serif;

$button-color: #68b738;

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
