$button-color: #68b738;
$font-family--Arial: "Arial", sans-serif;
$font-family--Oswald-Regular: "Oswald-Regular", "Arial", sans-serif;
$font-family--Oswald-Medium: "Oswald-Medium", "Arial", sans-serif;
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
